.move {
	background-color: #d73e1e !important;
}
.looks {
	background-color: #63ae1e !important;
}
.draw {
	background-color: #a6006e !important;
}
.var {
	background-color: #e7b601 !important;
}
.ctrl {
	background-color: #3e83be !important;
}
.old {
	background-color: #647f96 !important;
}
.abl {
	background-color: #dadada !important;
	color: #000 !important;
}
