body {
  font-family: -apple-system, sans-serif;
}

span {
  display: inline-block;
  vertical-align: middle;
}

.parent {
  padding: .5em;
  border-radius: 6px;
  background-color: #01CBCB;
  color: #fff;
  margin: 1em 0;
}

.parent.rule {
  background-color: #CB0144;
}

.name:not(:last-child) {
  padding-bottom: .5em;
}

.parent.customrule {
  background-color: #dadada;
  color: #000;
}

.child {
  background-color: #fff;
  border-radius: 6px;
  padding: .1em .5em;
}

.child + .child {
  margin-top: .5em;
}

.p {
  border: solid 2px #fff;
  border-radius: 30px;
  display: inline-block;
  margin: 0 .5em;
}

.p>span:not(:empty) {
  padding: .2em .5em;
}

.p>.w:not(:empty) {
  background-color: #fff;
  color: #000;
  border-radius: 30px;
  display: inline-block;
  border: solid 2px #fff;
  max-width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.p>.w.v {
  background-color: orange;
  color: #fff
}

svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
